.reveal-modal {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 6px solid #e2231a;
    top: 8.25em
}

@media (max-width: 767px) {
    .reveal-modal {
        top: 40px;
        padding: 10px
    }
}

.reveal-modal .close-reveal-modal {
    font-size: 2em;
    line-height: 1;
    position: absolute;
    top: -23px;
    right: -23px;
    color: #e2231a;
    font-weight: bold;
    cursor: pointer;
    width: 46px;
    height: 46px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border: 6px solid #e2231a;
    background: #fff;
    text-align: center;
    line-height: .9
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.class-list {
    background-color: #fff;
    color: #000;
    padding-top: 10px;
}

.class-list h2 {
    color: #000;
    font-family: "ITCAvantGardeW01-CnBd";
    font-size: 2em;
    text-transform: uppercase
}

.x-apply {
    padding: 0 0 10px 0 !important;
}

.profile-img {
    border-radius: 50%;
    border: 5px solid white;
}

.profile-img:hover {
    border-color: red;
}

#profile .profile-img {
    margin: 10px auto;
}

@media (min-width: 400px) {
    .profile-single {
        position: relative;
        width: 150px;
        height: 200px;
    }

    .profile-single p{ 
        display: block;
        position: absolute;
        top: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform:    translateX(-50%);
        -ms-transform:     translateX(-50%);
        -o-transform:      translateX(-50%);
        transform:         translateX(-50%);      
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .profile-single {
        position: relative;
        width: 75px;
        height: 125px;
    }

    .profile-single p{
        display: block;
        position: absolute;
        top: 75%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform:    translateX(-50%);
        -ms-transform:     translateX(-50%);
        -o-transform:      translateX(-50%);
        transform:         translateX(-50%);
        font-size: 10px;
    }
}
.profile-img-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
.profile-img-container:after {
    content: '';
    display: block;
    margin-top: 100%;
}
.profile-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    background-size: cover;
    background-position-x: 50%; 
}
p.name {
    line-height: 1.0;
}

.class-list #options {
    margin-top: 10px;
}

.uppercase {
    text-transform: uppercase !important;
}

/* CSS for Data visualization */
.viz-form form{
    position: relative;
    top: 60px;
}

.viz-form .form-group {
    vertical-align: top;
    padding: 0px 10px;
}

#data-viz {
    min-height: 300px;
    max-width: 100%;
    display: block;
    margin: 0px auto;
}

#data-viz svg {
  display: block;
  margin: 0 auto;
  border: 1px solid #dddddd;
}
#data-viz #options {
  z-index: 999;
  position: fixed;
  left: 15px;
  top: 80px;
}
#data-viz .node {
  transition: all 0.5s ease-in-out;
  stroke: black;
  stroke-width: 1px;
  fill: black;
  -webkit-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}
#data-viz .node circle {
  fill: white;
  -webkit-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
/*#data-viz .node circle.prj {
  fill: red;
}*/
#data-viz .node.focus circle {
  stroke: red;
  stroke-width: 2.0;
  stroke-opacity: 1.0;
}
#data-viz .node.unfocus circle {
  stroke: black;
  stroke-width: 1.0;
  stroke-opacity: 0.25;
  opacity: 0.6;
}
#data-viz .node.unfocus image {
    opacity: 0.6;
}
#data-viz .link {
-webkit-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
  stroke: black;
  stroke-opacity: 1.0;
}
#data-viz .link.focus {
  stroke: red;
  stroke-width: 2.0;
  stroke-opacity: 1.0;
}
#data-viz .link.unfocus {
  stroke-opacity: 0.25;
  stroke-width: 1.0;
}
#data-viz .node text {
  stroke: black;
  fill: black;
  stroke-width: 0px;
  pointer-events: none;color: 
  font-size: 15px;
}

#data-viz .modal-open {
  overflow: auto;
}
#data-viz .modal {
  top: auto;
  bottom: 1%;
  padding-top: 50%;
  overflow-wrap: break-word;
}

#data-viz .modal-dialog {
    max-height: 232px;
}

#data-viz .modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate3d(0, 125%, 0);
       -o-transform: translate3d(0, 125%, 0);
          transform: translate3d(0, 125%, 0);
}

#data-viz .modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.modal-backdrop.in {
  opacity: 0;
  filter: alpha(opacity=0);
}

#data-viz .modal-header h4, #data-viz .modal-header p {
    margin: 0px;
}

#modal-image img {
    margin-top: 3px;
}
#data-viz .modal ul {
  list-style-type: none;
}
#data-viz .modal li {
  padding: 0 20px 0 0;
}
#data-viz .round {
  border: 5px solid red;
  border-radius: 50%;
}

#data-viz .overlay {
  fill: none;
  pointer-events: all;
}
